*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pointer{
    cursor: pointer;
}

.hero-btn{
    color: white;
    background-color: #1C64F2;
    border: none;
    padding: 15px 40px;
    border-radius: 50px;
    font-weight: bold;
    font-size: "30px";
}

.store{
    background-image: url('/store.png');
}
.product{
    background-image: url('/laptop.png');
    background-size: cover;
    background-position: center;
}